<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      .container {
        height: 100vh;
        background-color: blanchedalmond;
        color: brown;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10vh;
      }
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 2rem;
      }
    </style>
  </head>
  <body>
    <!-- <%- include('common/header');%> -->
    <div class="container">
      <h1>Welcome, <%= user.name%></h1>
      <h2>Name : <%= user.name%></h2>
      <h2>City : <%= user.city%></h2>
      <ul>
        <% user.skills.forEach((items)=>{%>
        <li><%= items%></li>
        <% })%>
      </ul>
    </div>
  </body>
</html>
